form
  .row
    .col-lg-5.with-border
      .form-group.row
        label.col-2.col-form-label(for='username')= fa['username']
        caption
        .col
          input#username.form-control(type='text', ng-model='username')
          small#usernameHelp.form-text.text-muted= fa['username help']
      .form-group.row
        label.col-2.col-form-label(for='password')= fa['password']
        .col
          input#password.form-control(type='password', ng-model='password')
          small#passwordHelp.form-text.text-muted= fa['password help']
      .form-check.disabled
        label.form-check-label
          input.form-check-input(type='checkbox', disabled='')
          =fa['system administrator']
    .col-lg
    .col-lg-5.with-border
      .form-group.row
        label.col-2.col-form-label(for='example-text-input')= fa['name']
        .col
          input#example-text-input.form-control(type='text', value='Artisanal kale')
      .form-group.row
        label.col-2.col-form-label(for='example-search-input')= fa['family']
        .col
          input#example-search-input.form-control(type='search', value='How do I shoot web')
      .form-group.row
        label.col-5.col-form-label(for='exampleInputPassword1')= fa['employee id code']
        .col
          input#exampleInputPassword1.form-control(type='password', placeholder='Password')
      .form-group.row
        label.col-3.col-form-label(for='exampleSelect1')= fa['department']
        .col
          select#exampleSelect1.form-control
            option 1
            option 2
            option 3
            option 4
            option 5
  .row.align-items-end
    .form-group.col-md-3
      label(for='exampleInputEmail1')= fa['telegram tccount']
      input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email')
      small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
    .form-group.col-md-3
      label(for='exampleInputEmail1')= fa['github account']
      input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email')
      small#emailHelp.form-text.text-muted We'll never share your email with anyone else.
    .col-lg
    .col-lg-5
      .d-flex.justify-content-around
          button.btn.btn-warning.btn-sm(type='submit')= fa['create new']
          button.btn.btn-danger.btn-sm(type='submit')= fa['remove account']
          button.btn.btn-primary.btn-sm(type='submit')= fa['submit']
