nav.navbar.navbar-toggleable-sm.navbar-inverse.mb-3(style="background-color: #0b0019;")
  button.navbar-toggler.navbar-toggler-left(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-badge='Toggle navigation')
    span.navbar-toggler-icon
  a.navbar-brand(href='#')
    img(src='/images/pi.png', width='30', height='30', alt='')
  .navbar-text.small= fa['title']
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav
      form.form-inline
        a.nav-link.btn.btn-sm.btn-outline-secondary(href='#', role='button')= fa['search']
          i.fa.fa-search.fa-fw
        a.nav-link.btn.btn-sm.btn-outline-secondary(href='#', role='button')= fa['dashboard']
          i.fa.fa-desktop.fa-fw
        a.nav-link.btn.btn-sm.btn-outline-secondary(href='#', role='button')= fa['reports archive']
          i.fa.fa-archive.fa-fw
        a.nav-link.btn.btn-sm.btn-outline-secondary(href='#', role='button')= fa['design & configurations']
          i.fa.fa-wrench.fa-fw
        a.nav-link.btn.btn-sm.btn-outline-secondary(href='#', role='button')= fa['user config']
          i.fa.fa-users.fa-fw
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
            i.fa.fa-bell
          .dropdown-menu.dropdown-menu-left.alert-dropdown
            a.dropdown-item(href='#')
              span.badge.badge-default= fa['alert default']
              | &nbsp
              = fa['alert name']
            a.dropdown-item(href='#')
              span.badge.badge-primary= fa['alert primary']
              | &nbsp
              = fa['alert name']
            a.dropdown-item(href='#')
              span.badge.badge-success= fa['alert success']
              | &nbsp
              = fa['alert name']
            a.dropdown-item(href='#')
              span.badge.badge-info= fa['alert info']
              | &nbsp
              = fa['alert name']
            a.dropdown-item(href='#')
              span.badge.badge-warning= fa['alert warning']
              | &nbsp
              = fa['alert name']
            a.dropdown-item(href='#')
              span.badge.badge-danger= fa['alert danger']
              | &nbsp
              = fa['alert name']
            .dropdown-divider
            a.dropdown-item(href='#')= fa['view all']

        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href='#', data-toggle='dropdown')
            i.fa.fa-envelope.fa-fw
            b.caret
          .list-unstyled.dropdown-menu.dropdown-menu-left.message-dropdown
            a.dropdown-item.media.message-preview(href='#')
              img.d-flex.m-1.m-1(src='', alt='60x60', style="width: 64px; height: 64px;")
              .media-body
                dd.mr-1
                  strong Reza Afzalan
                p.small.text-muted
                  i.fa.fa-clock-o
                  |  Yesterday at 4:32 PM
                p Lorem ipsum dolor sit amet, consectetur...
            .dropdown-divider
            a.dropdown-item.media.message-preview(href='#')
              img.d-flex.m-1.m-1(src='', alt='60x60', style="width: 64px; height: 64px;")
              .media-body
                dd.mr-1
                  strong Reza Afzalan
                p.small.text-muted
                  i.fa.fa-clock-o
                  |  Yesterday at 4:32 PM
                p Lorem ipsum dolor sit amet, consectetur...
    .form-inline.mr-auto
      .navbar-text
        a(href='#')
          = fa['sample user']
          i.fa.fa-fw.fa-gear
        | خوش آمدید.
        | &nbsp
      a(href='/auth/logout')
        i.fa.fa-power-off.fa-2x
