ul.nav.navbar-nav.side-nav
  li
    a(href='/')
      i.fa.fa-fw.fa-desktop
      =  fa['Dashboard']
    hr(style = "margin-top:0")
  .col-md-12
    input(type="text" class="form-control" placeholder="جستجو ....")
  .col-md-12
      pre.small(style="font-weight:bold; height:110px")
        a(href='#!report')= fa['result 1']
        br
        a(href='#!pi')= fa['result 2']
        br
        a(href='#')= fa['result 3']
        br
        a(href='#')= fa['result 4']
        br
        a(href='#')= fa['result 5']
  li
    hr(style = "margin:0")
    a(href='#')
      i.fa.fa-fw.fa-archive
      =  fa['Reports Archive']
    hr(style = "margin:0")
  li
    a(href='javascript:;', data-toggle='collapse', data-target='#DesignConfigurations')
      i.fa.fa-fw.fa-wrench
      = fa['Design & Configurations']
      i.fa.fa-fw.fa-caret-down
    ul#DesignConfigurations.collapse
      li
        a(href='#')= fa['Categories']
      li
        a(href='#!variables')= fa['Variables']
      li
        a(href='#')= fa['Reports']
  li
    a(href='#')
      i.fa.fa-fw.fa-users
      = fa['User Config']
