ul.nav.navbar-right.top-nav
  li.dropdown
    a.dropdown-toggle(href='#', data-toggle='dropdown')
      i.fa.fa-envelope
      b.caret
    ul.dropdown-menu.message-dropdown
      li.message-preview
        a(href='#')
          .media
            span.pull-left
              img.media-object(src='http://placehold.it/50x50', alt='')
            .media-body
              h5.media-heading
                strong John Smith
              p.small.text-muted
                i.fa.fa-clock-o
                |  Yesterday at 4:32 PM
              p Lorem ipsum dolor sit amet, consectetur...
      li.message-preview
        a(href='#')
          .media
            span.pull-left
              img.media-object(src='http://placehold.it/50x50', alt='')
            .media-body
              h5.media-heading
                strong John Smith
              p.small.text-muted
                i.fa.fa-clock-o
                |  Yesterday at 4:32 PM
              p Lorem ipsum dolor sit amet, consectetur...
      li.message-preview
        a(href='#')
          .media
            span.pull-left
              img.media-object(src='http://placehold.it/50x50', alt='')
            .media-body
              h5.media-heading
                strong John Smith
              p.small.text-muted
                i.fa.fa-clock-o
                |  Yesterday at 4:32 PM
              p Lorem ipsum dolor sit amet, consectetur...
      li.message-footer
        a(href='#') Read All New Messages
  li.dropdown
    a.dropdown-toggle(href='#', data-toggle='dropdown')
      i.fa.fa-bell
      b.caret
    ul.dropdown-menu.alert-dropdown
      li
        a(href='#')
          span.label.label-default= fa['Alert Default']
          | &nbsp
          = fa['Alert Name']
      li
        a(href='#')
          span.label.label-primary= fa['Alert Primary']
          | &nbsp
          = fa['Alert Name']
      li
        a(href='#')
          span.label.label-success= fa['Alert Success']
          | &nbsp
          = fa['Alert Name']
      li
        a(href='#')
          span.label.label-info= fa['Alert Info']
          | &nbsp
          = fa['Alert Name']
      li
        a(href='#')
          span.label.label-warning= fa['Alert Warning']
          | &nbsp
          = fa['Alert Name']
      li
        a(href='#')
          span.label.label-danger= fa['Alert Danger']
          | &nbsp
          = fa['Alert Name']
      li.divider
      li
        a(href='#')= fa['View All']
  li.dropdown
    a.dropdown-toggle(href='#', data-toggle='dropdown')
      i.fa.fa-user
      | &nbsp
      = fa['Sample User']
      b.caret
    ul.dropdown-menu
      li
        a(href='#')
          i.fa.fa-fw.fa-gear
          = fa['Settings']
      li.divider
      li
        a(href='#')
          i.fa.fa-fw.fa-power-off
          = fa['Log Out']
