ul.nav.navbar-right.top-nav
  li.dropdown
    a.dropdown-toggle(href='#', data-toggle='dropdown')
      i.fa.fa-envelope
      b.caret
    ul.dropdown-menu.message-dropdown
      li.message-preview
        a(href='#')
          .media
            span.pull-left
              img.media-object(src='http://placehold.it/50x50', alt='')
            .media-body
              h5.media-heading
                strong John Smith
              p.small.text-muted
                i.fa.fa-clock-o
                |  Yesterday at 4:32 PM
              p Lorem ipsum dolor sit amet, consectetur...
      li.message-preview
        a(href='#')
          .media
            span.pull-left
              img.media-object(src='http://placehold.it/50x50', alt='')
            .media-body
              h5.media-heading
                strong John Smith
              p.small.text-muted
                i.fa.fa-clock-o
                |  Yesterday at 4:32 PM
              p Lorem ipsum dolor sit amet, consectetur...
      li.message-preview
        a(href='#')
          .media
            span.pull-left
              img.media-object(src='http://placehold.it/50x50', alt='')
            .media-body
              h5.media-heading
                strong John Smith
              p.small.text-muted
                i.fa.fa-clock-o
                |  Yesterday at 4:32 PM
              p Lorem ipsum dolor sit amet, consectetur...
      li.message-footer
        a(href='#') Read All New Messages
  li.dropdown
    a.dropdown-toggle(href='#', data-toggle='dropdown')
      i.fa.fa-bell
      b.caret
    ul.dropdown-menu.alert-dropdown
      li
        a(href='#')
          span.label.label-default= fa['alert default']
          | &nbsp
          = fa['alert name']
      li
        a(href='#')
          span.label.label-primary= fa['alert primary']
          | &nbsp
          = fa['alert name']
      li
        a(href='#')
          span.label.label-success= fa['alert success']
          | &nbsp
          = fa['alert name']
      li
        a(href='#')
          span.label.label-info= fa['alert info']
          | &nbsp
          = fa['alert name']
      li
        a(href='#')
          span.label.label-warning= fa['alert warning']
          | &nbsp
          = fa['alert name']
      li
        a(href='#')
          span.label.label-danger= fa['alert danger']
          | &nbsp
          = fa['alert name']
      li.divider
      li
        a(href='#')= fa['view all']
  li.dropdown
    a.dropdown-toggle(href='#', data-toggle='dropdown')
      i.fa.fa-user
      | &nbsp
      = fa['sample user']
      b.caret
    ul.dropdown-menu
      li
        a(href='#')
          i.fa.fa-fw.fa-gear
          = fa['settings']
      li.divider
      li
        a(href='/auth/logout')
          i.fa.fa-fw.fa-power-off
          = fa['log out']
