-var pc = 'panel-danger';
-var fc = 'fa-folder-open-o'
-var tx = 'report title'
-var ti = '12d:05hr:08min'
-var PI_R = 48
-var PI_UR = 8
-var PI_I = 9
-var PI_UI = 1
.col-lg-12.col-md-12
  .panel(class= pc)
    .panel-heading.text-center
        a(href='#').pull-right
          kbd(href="#")
            i.fa.fa-battery-1
            | &nbsp
            span(data-toggle="tooltip" title=fa['time left'])= ti
            i.fa(class= fc data-toggle="tooltip" title=fa['open report'])
            | &nbsp
            i.fa.fa-cog.fa-spin(data-toggle="tooltip" title=fa['config'])
        span(style='padding-left : 8.5em')= fa[tx]
        a(href='#').pull-left
          .fa.fa-cogs(data-toggle="tooltip" title=fa['config'])
    .panel-body
      .col-md-4
        table.table.table-bordered
          tr
            td.text-center.title= fa['report progress']
          tr
            td
              .progress(style='margin-bottom: 5px;')
                .progress-bar.progress-bar-success(role='progressbar', style='width:2%; min-width: 1.5em;')
                  | 2%
              .badge.pull-right
                = PI_I
              = fa['PI real']
              .badge.pull-left
                = PI_R
              .span.pull-left
                = fa['from']
      .col-md-4
      .col-md-4
        table.table.table-bordered
          tr
            td.text-center.title= fa['user progress']
          tr
            td
              .progress(style='margin-bottom: 5px;')
                .progress-bar.progress-bar-success(role='progressbar', style='width:12%; min-width: 1.5em;')
                  | 12%
              .badge.pull-right
                = PI_UI
              = fa['PI real']
              .badge.pull-left
                = PI_UR
              .span.pull-left
                = fa['from']
      .col-md-12
        div(ng-controller='GridCtrl')
          button.btn
            = fa['Attach']
            span(class="btn glyphicon glyphicon-paperclip")
          div(ui-grid='gridOptions' class="grid" dir='rtl' ui-grid-edit ui-grid-cellnav)
    a(href='#')
      .panel-footer
        span.pull-right= fa['View Details']
        span.pull-left
          i.fa.fa-arrow-circle-left
        .clearfix
