form.card.form.mb-3(ng-if=`getlatestselected('${menuitem}')!==-1`, ng-controller=`${menuitem}Controller`, ng-init='init(getlatestselectedhandler)', ng-hide='hide')
  .card-header.card-primary.text-center= fa[menuitem]['header']
    span.badge.badge-warning.pull-right(ng-if='item.id == undefined')= fa['new']
    button.close(type='button', aria-hidden='true', ng-click='hide=true') ×
  .card-block
    .form-group.row
      label.col-1.col-form-label(for='caption')= fa['caption']
      .col-5
        input#caption.form-control(type='text', ng-model='item.caption')
      label.col-1.col-form-label(for='code')= fa['code']
      .col-2
        input#code.form-control(type='text', ng-model='item.code')
      label.col-1.col-form-label(for='weight')= fa['weight']
      .col-2
        input#weight.form-control(type='number', ng-model='item.weight')
    .form-group.row
      if (parent !== '')
        label.col-1.col-form-label(for=`${parent}`)= fa['VariableCat'][`${parent}`]
        .col-5
          input.form-control.typeahead(id=`${parent}`, typeahead-directive, bind=`${parent_lo}_id`, rowsource=`${parent}`, type="text", placeholder=`${fa['select by type']}`, style="text-align:right", ng-model=`current_${parent_lo}_id`)
      label.col-1.col-form-label(for='attribute')= fa['attribute']
      .col
        input#code.form-control(type='text', ng-model='item.attribute')
    div(ng-controller=`${child}Controller`)
      .small
        .div(ng-controller='cat-grid', ng-init=`init('${menuitem}', catgridhandler)`)
          div(ui-grid='gridOptions' class="grid" dir='rtl' ui-grid-edit ui-grid-cellnav style='min-height: 300px')
  .card-footer
    .d-flex.flex-row-reverse
      .pr-2
        button.btn.btn-success(type='submit')= fa['submit']
          i.fa.fa-check.fa-fw
      .pr-2
        button.btn.btn-warning(type='submit')= fa['create new']
          i.fa.fa-plus.fa-fw
      .pr-2
        button.btn.btn-danger(type='submit')= fa['remove']
          i.fa.fa-remove.fa-fw
