form.card.form.mb-3(ng-controller='urlgetController', ng-init='init("ReportClass", getselectedhandler, selectedkey)')
  include filtered-block-header.pug
  div(ng-hide='hide')
    .card-block
      .form-group.row
        label.col-1.col-form-label(for='caption')= fa['caption']
        .col-4
          input#caption.form-control.form-control(type='text', required, ng-model='item.caption')
        label.col-1.col-form-label(for='users')= fa['owner']
        .col-4
          input#users.form-control.form-control.typeahead(typeahead-directive, bind='user_owner', rowsource="User", type="text", required, placeholder=`${fa['select owner']}`, style="text-align:right")
        .col-2
          .row
            label.col-3.col-form-label(for='duration')= fa['duration']
            .col
              input#duration.form-control.form-control(type='text', required, ng-model='item.duration')
      .form-group.row.small
        .col-3
          label.col-form-label(for='caption_cat_1')= fa['ReportClass']['caption_cat_1']
          input#caption_cat_1.form-control.form-control-sm(type='text', required, ng-model='item.caption_cat_1')
        .col-3
          label.col-form-label(for='caption_cat_2')= fa['ReportClass']['caption_cat_2']
          input#caption_cat_2.form-control.form-control-sm(type='text', required, ng-model='item.caption_cat_2')
        .col-3
          label.col-form-label(for='caption_cat_3')= fa['ReportClass']['caption_cat_3']
          input#caption_cat_3.form-control.form-control-sm(type='text', required, ng-model='item.caption_cat_3')
        .col-3
          label.col-form-label(for='caption_variable')= fa['ReportClass']['caption_variable']
          input#caption_variable.form-control.form-control-sm(type='text', required, ng-model='item.caption_variable')
      .form-group
        label(for='attribute')= fa['attribute']
        input#attribute.form-control(type='text', ng-model='item.attribute')
      .form-group
    include filtered-block-footer.pug
