form.card.form.mb-3(ng-submit='update_or_insert()', ng-controller="urlgetController", ng-init="init('User', getselectedhandler, selectedkey)")
  include filtered-block-header.pug
  div(ng-hide='hide')
    .card-block
      .row
        .card.col-lg-5.mr-3.mb-3
          .card-block
            .form-group.row
              label.col-2.col-form-label(for='username')= fa['username']
              caption
              .col
                input#username.form-control(type='text', required, ng-model='item.account')
                small#usernameHelp.form-text.text-muted= fa['username help']
            .form-group.row
              label.col-2.col-form-label(for='password')= fa['password']
              .col
                .input-group
                  input#password.form-control(type='password', ng-model='_password')
                  span.input-group-btn
                    button.btn.btn-outline-danger(type="button", ng-click="updateitem('password', _password)")= fa["submit"]
                small#passwordHelp.form-text.text-muted= fa['password help']
            .form-check
              label.form-check-label
                input.form-check-input.form-check-input-rtl(type='checkbox', required, disabled='true', ng-checked='item.sysadmin==="true"')
                =fa['system administrator']
        .col-lg
        .card.col-lg-5.ml-3.mb-3
          .card-block
            .form-group.row
              label.col-2.col-form-label(for='name')= fa['name']
              .col
                input#name.form-control(type='text', required, ng-model='item.fname')
            .form-group.row
              label.col-2.col-form-label(for='family')= fa['family']
              .col
                input#family.form-control(type='text', required, ng-model='item.lname')
            .form-group.row
              label.col-5.col-form-label(for='pcode')= fa['employee id code']
              .col
                input#pcode.form-control(type='text', required, ng-model='item.pcode')
            .form-group.row
              label.col-3.col-form-label(for='workunit')= fa['workunit']
              .col
                input#workunit.form-control.typeahead(typeahead-directive, rowsource="workunits", type="text", required, placeholder=`${fa['select workunit']}`, style="text-align:right", ng-model='item.workunit')
      .row
        .form-group.col-lg-3
          label(for='telegram')= fa['telegram account']
          input#telegram.form-control(type='text', ng-model='item.telegram')
          small#telegram.form-text.text-muted= fa['telegram help']
        .form-group.col-lg-3
          label(for='github')= fa['github account']
          input#github.form-control(type='text', ng-model='item.github')
          small#github.form-text.text-muted= fa['github help']
        .col-lg(ng-if='item.id !== undefined')
          .card
            .card-header
              .text-inline
                = fa['user permission']
                .pull-left
                  span.p-2.badge.badge-success= fa['provider']
                  span.p-2.badge.badge-warning= fa['reviewer']
                  span.p-2.badge.badge-primary= fa['owner']
            .card-block(style='max-height:140px; overflow-y:scroll')
              span.btn.badge.badge-success.mr-1(href='#')= fa['sample variable']
                a.fa.fa-fw.fa-remove.close(style='float: unset')
              span.btn.badge.badge-warning.mr-1(href='#') test
                a.fa.fa-fw.fa-remove.close(style='float: unset')
              span.btn.badge.badge-primary.mr-1(href='#')= fa['sample variable']
                a.fa.fa-fw.fa-remove.close(style='float: unset')
              span.btn.badge.badge-primary.mr-1(href='#')= fa['sample variable']
                a.fa.fa-fw.fa-remove.close(style='float: unset')
              span.btn.mr-1.badge.badge-primary.mr-1(href='#')= fa['sample variable']
                a.fa.fa-fw.fa-remove.close(style='float: unset')
              span.btn.badge.badge-success.mr-1(href='#')= fa['sample variable']
                a.fa.fa-fw.fa-remove.close(style='float: unset')
              span.btn.badge.badge-warning.mr-1(href='#') test
                a.fa.fa-fw.fa-remove.close(style='float: unset')
      #accordion.mt-3(role='tablist', ng-if='item.id !== undefined')
        .card
          #headingOne.card-header(role='tab')
            .mb-0
              = fa['user log']
              a.fa.fa-fw.fa-caret-down(href='', data-toggle='collapse', data-target='#logCollapse{{selectedkey}}' data-parent='#accordion', aria-expanded='true', aria-controls='collapseOne')
          div.collapse(role='tabpanel', aria-labelledby='headingOne', id='logCollapse{{selectedkey}}')
            .card-block(ng-controller="urlgetController", ng-init="init('Log', getselectedhandler, selectedkey)", style="font-family: monospace; direction: ltr; max-height: 200px; overflow-y: scroll; white-space: pre") {{item.log}}
    include filtered-block-footer.pug
