form.card.form.mb-3(ng-if=`getlatestselected('${menuitem}')!==-1`, ng-controller=`${menuitem}Controller`, ng-init='init(getlatestselectedhandler)', ng-hide='hide')
  .card-header.card-primary.text-center= fa[menuitem]['header']
    span.badge.badge-warning.pull-right(ng-if='item.id == undefined')= fa['new']
    button.close(type='button', aria-hidden='true', ng-click='hide=true') ×
  .card-block
    -var parent = 'VariableCat_3'
    -var parent_lo = parent.toLowerCase()
    .row
      div#workunits(ng-controller='typeaheadController', ng-init='init("workunits")')
        input.form-control.typeahead(type="text" placeholder="نام" style="text-align:right")
  .card-footer
    .d-flex.flex-row-reverse
      .pr-2
        button.btn.btn-success(type='submit')= fa['submit']
          i.fa.fa-check.fa-fw
      .pr-2
        button.btn.btn-warning(type='submit')= fa['create new']
          i.fa.fa-plus.fa-fw
      .pr-2
        button.btn.btn-danger(type='submit')= fa['remove']
          i.fa.fa-remove.fa-fw
