div(ng-controller="UserController", ng-init="init(getlatestselectedhandler)")
  .row
    .card.col-lg-5.mr-3.mb-3
      .card-block
        .form-group.row
          label.col-2.col-form-label(for='username')= fa['username']
          caption
          .col
            input#username.form-control(type='text', ng-model='account')
            small#usernameHelp.form-text.text-muted= fa['username help']
        .form-group.row
          label.col-2.col-form-label(for='password')= fa['password']
          .col
            input#password.form-control(type='password', ng-model='password')
            small#passwordHelp.form-text.text-muted= fa['password help']
        .form-check.disabled
          label.form-check-label
            input.form-check-input.form-check-input-rtl(type='checkbox', disabled='true', ng-checked='sysadmin')
            =fa['system administrator']
    .col-lg
    .card.col-lg-5.ml-3.mb-3
      .card-block
        .form-group.row
          label.col-2.col-form-label(for='name')= fa['name']
          .col
            input#name.form-control(type='text', ng-model='fname')
        .form-group.row
          label.col-2.col-form-label(for='family')= fa['family']
          .col
            input#family.form-control(type='family', ng-model='lname')
        .form-group.row
          label.col-5.col-form-label(for='pcode')= fa['employee id code']
          .col
            input#pcode.form-control(type='text', ng-model='pcode')
        .form-group.row
          label.col-3.col-form-label(for='workunit')= fa['workunit']
          .col
            .dropdown(ng-controller="scopeUpdater")
              button#dropdownMenuButton.btn.btn-secondary.dropdown-toggle.col(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false', ng-init=`selectedWorkunit="${fa['workunit']}"`) {{selectedWorkunit}}
              .dropdown-menu(aria-labelledby='dropdownMenuButton')
                a.dropdown-item(ng-href='#' ng-click='setVar("selectedWorkunit", x)' ng-repeat=`x in ${fa["workunits"]}`) {{x}}
  .row
    .form-group.col-lg-3
      label(for='telegram')= fa['telegram account']
      input#telegram.form-control(type='text', ng-model='telegram')
      small#telegram.form-text.text-muted= fa['telegram help']
    .form-group.col-lg-3
      label(for='github')= fa['github account']
      input#github.form-control(type='email', ng-model='github')
      small#github.form-text.text-muted= fa['github help']
    .col-lg
      .card
        .card-header
          .text-inline
            = fa['user permission']
            .pull-left
              span.p-2.badge.badge-success= fa['provider']
              span.p-2.badge.badge-warning= fa['reviewer']
              span.p-2.badge.badge-primary= fa['reader']
        .card-block(style='max-height:140px; overflow-y:scroll')
          span.btn.badge.badge-success.mr-1(href='#')= fa['sample variable']
            a.fa.fa-fw.fa-remove.close(style='float: unset')
          span.btn.badge.badge-warning.mr-1(href='#') test
            a.fa.fa-fw.fa-remove.close(style='float: unset')
          span.btn.badge.badge-primary.mr-1(href='#')= fa['sample variable']
            a.fa.fa-fw.fa-remove.close(style='float: unset')
          span.btn.badge.badge-primary.mr-1(href='#')= fa['sample variable']
            a.fa.fa-fw.fa-remove.close(style='float: unset')
          span.btn.mr-1.badge.badge-primary.mr-1(href='#')= fa['sample variable']
            a.fa.fa-fw.fa-remove.close(style='float: unset')
          span.btn.badge.badge-success.mr-1(href='#')= fa['sample variable']
            a.fa.fa-fw.fa-remove.close(style='float: unset')
          span.btn.badge.badge-warning.mr-1(href='#') test
            a.fa.fa-fw.fa-remove.close(style='float: unset')
  #accordion.mt-3(role='tablist')
    .card
      #headingOne.card-header(role='tab')
        .mb-0
          = fa['user log']
          a.fa.fa-fw.fa-caret-down(href='', data-toggle='collapse', data-target='#logCollapse' data-parent='#accordion', aria-expanded='true', aria-controls='collapseOne')
      #logCollapse.collapse(role='tabpanel', aria-labelledby='headingOne')
        .card-block(ng-controller="LogController", ng-init="init(getlatestselectedhandler)", style="font-family: monospace; direction: ltr; max-height: 200px; overflow-y: scroll; white-space: pre") {{log}}
