-var pc = 'card-warning';
-var fc = 'fa-folder-open-o'
-var tx = 'report title'
-var ti = '12d:05hr:08min'
-var PI_R = 48
-var PI_UR = 8
-var PI_I = 9
-var PI_UI = 1
.card.form
  .card-header.text-center(class= pc)
      a(href='#').pull-right
        kbd(href="#")
          i.fa.fa-battery-1
          | &nbsp
          span(data-toggle="tooltip" title=fa['time left'])= ti
          i.fa(class= fc data-toggle="tooltip" title=fa['open report'])
          | &nbsp
          i.fa.fa-cog.fa-spin(data-toggle="tooltip" title=fa['config'])
      span(style='padding-left : 8.5em')= fa[tx]
      a(href='#').pull-left
        .fa.fa-cogs(data-toggle="tooltip" title=fa['config'])
  .card-block
    .row
      .col-md-4
        table.table.table-bordered
          tr
            td.text-center.title= fa['report progress']
          tr
            td
              .progress(style='margin-bottom: 5px;')
                .progress-bar.bg-success(role='progressbar', style='width:2%; min-width: 1.5em;')
                  | 2%
              span.badge.badge-pill.badge-info.pull-right
                = PI_I
              = fa['pi real']
              span.badge.badge-pill.badge-info.pull-left
                = PI_R
              span.pull-left
                = fa['from']
      .col-md-4
        div(ng-controller='PolarAreaCtrl')
          canvas#polar-area.chart.chart-doughnut(chart-data="data" chart-labels="labels" chart-options="options")
      .col-md-4
        table.table.table-bordered
          tr
            td.text-center.title= fa['user progress']
          tr
            td
              .progress(style='margin-bottom: 5px;')
                .progress-bar.bg-success(role='progressbar', style='width:12%; min-width: 1.5em;')
                  | 12%
              span.badge.badge-pill.badge-info.pull-right
                = PI_UI
              = fa['pi real']
              span.badge.badge-pill.badge-info.pull-left
                = PI_UR
              span.pull-left
                = fa['from']
    .card
      .card-header.card-secondary
        i.fa.fa-cubes
        span
          | &nbsp
          =fa['filter for categories']
          | :
        label.radio-inline
          input(type='radio', name='optradio')
          = fa['option 0']
        label.radio-inline
          input(type='radio', name='optradio')
          = fa['option 1']
        label.radio-inline
          input(type='radio', name='optradio')
          = fa['option 2']
        label.radio-inline
          input(type='radio', name='optradio')
          = fa['option 3']
        span.col-md-3.text-left.pull-left
          | &#x03A3
          =fa['summery of results']
          | :
          kbd
            | 78%
    .small
      .div(ng-controller='report-grid')
        div(ui-grid='gridOptions' class="grid" dir='rtl' ui-grid-edit ui-grid-cellnav)
  .card-footer
    span.pull-right= fa['attachments']
    | &nbsp
    | :
    span.badge
      a(href='#')
        i.fa.fa-paperclip
        =fa['fname1']
      a(href='#')
        i.fa.fa-remove
    | -
    span.badge
      a(href='#')
        i.fa.fa-paperclip
        =fa['fname2']
      a(href='#')
        i.fa.fa-remove
    a(href='#').pull-left
      =fa['new attachment']
      span
        i.fa.fa-plus
    .clearfix
