.row
  div(ng-controller=`${contoroller}`, ng-init="query()", style="font-family: Yekan;")
    table.table.table-hover.table-responsive
      thead
        tr
          th= fa['code']
          th= fa['caption']
          th= fa['weight']
          th= fa['attribute']
      tbody
        tr(ng-repeat='item in data', ng-if='filter(item)')
          th(scope='row') 
            span.badge.badge-pill.badge-info.mx-1
              | {{item.code}}
          td
            | {{item.caption}}
          td
            input(type="number" ng-model="item.weight")
          td
            | {{item.attribute}}
