.card.with-border
  #headingOne.card-header.card-outline-primary
    a.btn.btn-outline-primary.col-9(href='', data-toggle="collapse", data-target=`#${menuitem}`, data-parent='#accordion', aria-expanded='true', aria-controls=`${menuitem}`)
      = fa[menuitem]['header']
      i.fa.fa-fw.fa-caret-down
    a.fa-stack.col-2.pull-left(ng-controller=`${menuitem}Controller`, href='', ng-click='addnew()')
      i.fa.fa-circle-thin.fa-stack-2x
      i.fa.fa-plus.fa-stack-1x.text-success
  .collapse(role='tabpanel', aria-labelledby='headingOne', id= `${menuitem}`)
    .card-block.with-nav-block(ng-controller=`${menuitem}Controller`, ng-init="query()")
      div(ng-repeat='item in data.filter(filter)')
        a(href=``, ng-click='selectitem(item.id)')
          i.fa.fa-check(ng-show='isSelected(item.id)')
          span.badge.badge-pill.badge-info.mx-1
            | {{item.code || item.account}}
          | {{item.caption  || item.fname + ' ' + item.lname}}
