.card.with-border(ng-controller=`urlqueryController`, ng-init=`query('${menuitem}')`)
  #headingOne.card-header.card-outline-primary
    a.btn.btn-outline-primary.col-9.ml-4(href='', data-toggle="collapse", data-target=`#${menuitem}`, data-parent='#accordion', aria-expanded='true', aria-controls=`${menuitem}`)
      = fa[menuitem]['header']
      i.fa.fa-fw.fa-caret-down
    a.fa-stack.col-2(href='', ng-click='addnew()', data-toggle="tooltip" data-placement="left" title=`${fa['addnew']}`)
      i.fa.fa-plus-circle.fa-stack-2x
      i.fa.fa-circle-o.fa-stack-2x.text-primary
  .collapse(role='tabpanel', aria-labelledby='headingOne', id= `${menuitem}`)
    .card-block.with-nav-block
      div(ng-repeat='item in data.filter(filter)')
        a(href=``, ng-click='selectitem(item.id)')
          i.fa.fa-check(ng-show='isSelected(item.id)')
          span.badge.badge-pill.badge-info.mx-1
            | {{item.code || item.account}}
          | {{item.caption  || item.fname + ' ' + item.lname}}
